{% extends "store/main.html" %} {% load static %}
<!-- seller section -->
{% block content %}

<section class="seller_section layout_padding">
	<div class="container">
		<div class="heading_container heading_center">
			<h2>Seller Details</h2>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-12">
				<div class="box">
					<div
						class="detail-container"
						style="display: flex; flex-direction: column"
					>
						<div class="img-box">
							<img src="/media/{{ seller.img }}" alt="">
						</div>
						<h5>{{ seller.name }}</h5>
						<div class="hr"></div>
						<div class="detail-box">
							<div class="product_info">
								<div class="details">
                                    {{ seller.details }}
								</div>
							</div>
						</div>
					</div>
					<div class="contact">
						<div><span>Address:</span><span> {{ seller.address }} </span></div>
						<div><span>Phone:</span><span> {{ seller.phone }} </span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- end seller section -->

<!-- product section -->

<section class="product_section layout_padding">
	<div class="container">
		<div class="heading_container heading_center">
			<h2>Seller Products</h2>
		</div>
		<div class="row">

            {% for item in seller.product_set.all %}

                <div class="col-sm-6 col-lg-4">
              <div class="box">
                <div class="img-box product">
                  <img src="/media/{{ item.img }}" alt="">
                  <a href="{% url "store:product" item.id %}" class="add_cart_btn">
                    <span>
                      View
                    </span>
                  </a>
                </div>
                <div class="detail-box">
                  <h5>
                    {{ item.name }}
                  </h5>
                  <div class="product_info">
                    <h5>
                      <span>{{ item.price|floatformat:1 }} EGP</span>
                    </h5>

                  </div>
                </div>
              </div>
            </div>

            {% endfor %}

		</div>
	</div>
</section>

<!-- end product section -->

{% endblock %}
